<!doctype html>
<html>
<head>
    <title>Karaoke!</title>
    <!-- <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/b350ecca7b.js" crossorigin="anonymous"></script> -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald&family=PT+Sans:ital,wght@1,700&family=Pangolin&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
</head>
<body>

  <h1>Karaoke Night!</h1>
    <div class="karaokeSongs">
      <h3></h3>
      <ul class="messages">
      <% for(var i=0; i<messages.length; i++) {%>
        <li class="message">
          <span class="email"><%= messages[i].email %></span>
          <%console.log(messages[i].completed)%>
          <span class="name"><%= messages[i].name %></span>
          <span class="song"><%= messages[i].song %></span>
          <span><i class="fa-solid fa-check-double"></i></span>
          <span><i class="fa-solid fa-trash-can"></i></span>
          <button class="lyrics"> Similar Songs</button>
          <span> 
          <%   
          let completedMessage = "";
            if (messages[i].completed ===true){ 
              completedMessage = "done"
            }
          %>
          <%=completedMessage;%> 
        </span>
        </li>
      <% } %>
      </ul>

      <h2>Add Your Song to the Queue!</h2>
    <% if (user.local.email) { %>
      <form action="/messages" method="POST">
        <input type="text" value="<%= user.local.email %>" name="email">
        <input type="text" placeholder="Name" name="name">
        <input class="songRequest" type="text" placeholder="Write down your song request" name="song">

        <button type="submit">Submit Your Song</button>
      
      </form>
    </div>
    <% } %>

    <h3> Similar Song Recommendations:
    </h3>
    <ul id="songReccs" > </ul>

</form>
<script src="main.js"></script>

</body>
</html>
